FRIDAY_ROBOT_MODE=simulated
FRIDAY_ROBOT_BIND=0.0.0.0
FRIDAY_ROBOT_PORT=8765
FRIDAY_ROBOT_TOKEN=replace-with-at-least-32-random-characters
FRIDAY_ROBOT_CAMERA_URL=http://127.0.0.1:8080/stream
FRIDAY_ROBOT_HARDWARE_CONFIRMED=NO
FRIDAY_ROBOT_READ_ONLY_SENSORS=YES
FRIDAY_ROBOT_REAL_CAMERA_SERVOS=YES
FRIDAY_ROBOT_LEFT_INVERTED=0
FRIDAY_ROBOT_RIGHT_INVERTED=0
